* {
  margin: 0;
  padding: 0;
}

#sect img {
  margin-left: 11%;
}

#sect .nav-item .exp {
  color: #373737;
  font-size: 16px;
  font-family: 'Muli';
  font-weight: 590;
}

#sect .nav-item .second {
  margin-left: 30px;
}

#sect .nav-item .third {
  margin-left: 30px;
}

#sect .nav-item .fourth {
  margin-left: 30px;
}

#sect .nav-item .fifth {
  margin-left: 30px;
}

#sect .right-btn {
  margin-left: 30px;
}

#sect .right-btn button[type="submit"] {
  width: 240px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #1574CE;
  font-family: 'Muli';
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.right {
  margin-left: 8%;
}

main .top-fluid {
  background-image: url("https://res.cloudinary.com/peterdbrainy/image/upload/v1583613796/top-head.png");
  background-size: cover;
  width: 100%;
  height: 633px;
}

main .top-fluid div[top-content] {
  padding-top: 13%;
  margin-left: 12%;
}

main .top-fluid div[top-content] h2 {
  font-family: 'Muli', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #F3F0ED;
  -webkit-animation-name: moveToLeft;
          animation-name: moveToLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main .top-fluid div[top-content] p {
  font-size: 18px;
  line-height: 161.8%;
  color: #F3F0ED;
  font-weight: 400;
  -webkit-animation-name: moveToRight;
          animation-name: moveToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main .top-fluid div[top-content] button[type="submit"] {
  width: 247px;
  height: 50px;
  background: #1574CE;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  -webkit-animation-name: animateBtn;
          animation-name: animateBtn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

main .top-fluid a {
  font-family: 'Muli';
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  margin-left: 46px;
  -webkit-animation-name: animateBtn;
          animation-name: animateBtn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

main .img-fluid {
  margin-top: -8px;
}

main .left img:nth-child(1) {
  width: 390px;
  height: 479px;
  margin-top: 120px;
}

main .left img:nth-child(2) {
  margin-top: -43%;
  margin-left: 10px;
}

main .left img:nth-child(3) {
  margin-top: 102%;
  margin-left: -7px;
}

main .right {
  margin-top: 188px;
}

main .right h2 {
  font-family: 'Lato';
  font-size: 48px;
  line-height: 56px;
  color: #012E87;
  font-weight: 600;
}

main .right p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #161A1E;
}

main .right button[type="submit"] {
  width: 274px;
  height: 50px;
  background: #1574CE;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

main .right-new {
  margin-top: 150px;
}

main .right-new h2 {
  font-family: 'Lato';
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

main .right-new ul {
  margin-top: 32px;
}

main .right-new ul li {
  font-family: 'Muli';
  font-size: 18px;
  line-height: 106%;
  color: #FFFFFF;
}

main .right-new ul li[loc] {
  margin-top: 20px;
}

main .services {
  max-width: 1523px;
  height: 1323px;
  background: #FFFBF8;
  margin-top: 113px;
}

main .services .services-content h2 {
  text-align: center;
  font-family: 'Lato' sans-serif;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #012E87;
  padding-top: 136px;
}

main .services .services-content p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #161A1E;
  margin-top: 20px;
}

main .services .services-content .c-row {
  margin-top: 61px;
}

main .services .services-content .row .w-card .card {
  width: 330px;
  height: 377px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

main .services .services-content .row .w-card .card img {
  width: 80px;
  height: 81px;
  margin: 30px 20px 10px 120px;
}

main .services .services-content .row .w-card .card h4 {
  text-align: center;
  font-family: 'Muli';
  font-size: 28px;
  line-height: 106%;
  color: #1574CE;
  font-weight: 600;
  margin-top: 2px;
}

main .services .services-content .row .w-card .card p {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 163%;
  text-align: center;
  color: #161A1E;
  margin-top: 5px;
}

main .services .services-content .row .w-card .card p[s-card-content] {
  margin-top: 35px;
}

main .style {
  max-width: 1523px;
  height: 744px;
  margin-top: 149px;
  background: #012E87;
}

main .style .hel img {
  margin-top: 1px;
}

main .style .top-head-1 h2 {
  font-family: 'Muli';
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 110px;
}

main .style .top-head-1 h6 {
  font-family: 'Muli';
  font-size: 28px;
  line-height: 106%;
  color: #FFFFFF;
  margin-left: 106px;
  margin-top: 40px;
  font-weight: 600;
}

main .style .top-head-1 p {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 163%;
  margin-left: 106px;
  color: #cec7c7;
  margin-top: 18px;
  font-weight: lighter;
}

main .style .top-head-1 img {
  margin-left: 15%;
}

main .style .top-head-1 a {
  font-family: 'Muli';
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  margin-left: 106px;
}

main .project h2 {
  font-family: 'Muli';
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  color: #012E87;
  margin-top: 155px;
}

main .ca .card {
  width: 523.5px;
  height: 351px;
}

main .ca .content {
  background: #1574CE;
}

main .ca .content p {
  text-align: center;
  font-family: 'Muli';
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 25%;
}

main .ca .content-2 {
  background: #05225b;
}

main .ca .content-2 p {
  text-align: center;
  font-family: 'Muli';
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 25%;
}

main .ca .content-4 {
  background: #1574CE;
}

main .ca .content-4 p {
  text-align: center;
  font-family: 'Muli';
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 28%;
}

main #demo {
  margin-top: 55px;
}

main #demo .indi li {
  position: absolute;
  width: 18px;
  height: 3px;
  top: 50px;
  background: rgba(21, 116, 206, 0.83);
  border-radius: 50%;
}

main .adv {
  max-width: 1523px;
  height: 744px;
  top: 5041px;
  background: #1574CE;
  margin-top: 195px;
}

main .testimonial h2 {
  text-align: center;
  margin-top: 110px;
  font-size: 48px;
  line-height: 56px;
  color: #012E87;
  font-weight: 600;
}

main .testimonial .card-test {
  margin-top: 63px;
}

main .testimonial .card-test .left-2 .test-card {
  margin-top: 88px;
}

main .testimonial .card-test .left-2 .card {
  width: 95%;
  height: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

main .testimonial .card-test .left-2 .card img {
  width: 95.29px;
  height: 95.29px;
  margin-top: 8%;
  margin-left: 40%;
}

main .testimonial .card-test .left-2 .card p {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

main .testimonial .card-test .left-2 .card p[second] {
  font-weight: bold;
}

main .testimonial .card-test .right-2 .f-right {
  margin-top: 151px;
}

main .testimonial .card-test .right-2 .b-right {
  margin-top: 88px;
}

main .testimonial .card-test .right-2 .card {
  width: 95%;
  height: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

main .testimonial .card-test .right-2 .card img {
  width: 95.29px;
  height: 95.29px;
  margin-top: 8%;
  margin-left: 40%;
}

main .testimonial .card-test .right-2 .card p {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

main .testimonial .card-test .right-2 .card p[second] {
  font-weight: bold;
}

main .clients h2 {
  font-family: 'Muli';
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-top: 219px;
  color: #012E87;
  font-weight: 600;
}

main .clients .cssmarquee {
  margin-top: 50px;
}

main .clients .cssmarquee img {
  width: 145px;
  height: 60px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-bottom: 20px;
}

main .clients .cssmarquee img:nth-child(3) {
  margin-left: 25px;
}

main .clients .cssmarquee img:nth-child(2) {
  margin-left: 20px;
}

main .clients .cssmarquee img:nth-child(4) {
  margin-left: 25px;
}

main .newsletter {
  max-width: 1523px;
  height: 621px;
  background: #1E4CA9;
  margin-top: 143px;
}

main .newsletter .cen img {
  margin-top: 106px;
}

main .newsletter h4 {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 45px;
}

main .newsletter input[type="search"] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 40%;
  height: 60px;
  border: none;
  margin-top: 24px;
}

main .newsletter input[type="search"]::-webkit-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]:-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]::-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]::placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter button[type="submit"] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 140px;
  height: 50px;
  margin-top: 20px;
  border: none;
  font-family: 'Muli';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #1574CE;
  -webkit-transition: color 2s ease, -webkit-transform 1s ease;
  transition: color 2s ease, -webkit-transform 1s ease;
  transition: color 2s ease, transform 1s ease;
  transition: color 2s ease, transform 1s ease, -webkit-transform 1s ease;
}

main .newsletter button[type="submit"]:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

main footer .foot {
  max-width: 1523px;
  height: 422px;
  background: #012E87;
  padding-top: 82px;
}

main footer .foot .left-column {
  margin-left: 10%;
}

main footer .foot .left-column-2 {
  margin-left: -60px;
}

main footer .foot .left-column-3 {
  margin-left: -100px;
}

main footer .foot p {
  font-family: "work sans" !important;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

main footer .foot a {
  font-family: "work sans" !important;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

main footer .foot .copy {
  max-width: 1523px;
  height: 69px;
  background: #002878;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .foot .copy p[second] {
  margin-left: 10%;
}

@-webkit-keyframes cssmarquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes cssmarquee {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToLeft {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveToRight {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animateBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  #sect img {
    width: 80px;
    height: 80px;
    margin-left: 4%;
  }
  #sect .nav-item .exp {
    margin-left: -4px;
  }
  #sect .right-btn button[type="submit"] {
    width: 160px;
    height: 45px;
    margin-left: -12%;
    font-size: 14px;
  }
  main .top-fluid {
    background-image: url("https://res.cloudinary.com/peterdbrainy/image/upload/v1583613796/top-head.png");
    width: 100%;
    height: 433px;
  }
  main .top-fluid div[top-content] h2 {
    margin-top: 35px;
    font-size: 25px;
    line-height: 25px;
  }
  main .top-fluid div[top-content] p {
    margin-top: 15px;
    font-size: 12px;
    line-height: 20px;
  }
  main .top-fluid div[top-content] button[type="submit"] {
    width: 130px;
    height: 40px;
    font-size: 10px;
  }
  main .left img:nth-child(1) {
    width: 390px;
    height: 479px;
    margin-top: 110px;
  }
  main .left img:nth-child(2) {
    display: none;
  }
  main .left img:nth-child(3) {
    display: none;
  }
  main .right {
    margin-top: 80px;
  }
  .style {
    display: none;
  }
  .project {
    margin-top: 1600px;
  }
  .adv .left {
    display: none;
  }
  .adv .right-new h2 {
    font-size: 36px;
    line-height: 50px;
    margin-top: -9px;
  }
  .adv .right-new ul li {
    font-family: 'Muli';
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .adv .right-new ul li[loc] {
    margin-top: 20px;
  }
  .testimonial .card-test .left-2 .test-card {
    margin-top: 0px;
    padding: 0;
  }
  main footer .foot {
    width: 100%;
    height: auto;
    background: #012E87;
  }
  main footer .foot .left-column-3 {
    margin-top: 50px;
    margin-left: 8%;
  }
  main footer .foot .left-column-2 {
    margin-left: 5%;
  }
  main footer .foot .d-col {
    margin-left: 8%;
    margin-top: 5%;
  }
  main footer .foot .copy p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 370px) {
  main .services {
    margin-left: -3.7%;
  }
  main .project {
    margin-left: -3.8px;
  }
}
/*# sourceMappingURL=styles.css.map */