* {
  margin: 0;
  padding: 0;
}

#sect img {
  margin-left: 11%;
}

#sect .nav-item .exp {
  color: #373737;
  font-size: 16px;
  font-family: 'Muli';
  font-weight: 590;
}

#sect .nav-item .second {
  margin-left: 30px;
}

#sect .nav-item .third {
  margin-left: 30px;
}

#sect .nav-item .fourth {
  margin-left: 30px;
}

#sect .nav-item .fifth {
  margin-left: 30px;
}

#sect .right-btn {
  margin-left: 30px;
}

#sect .right-btn button[type="submit"] {
  width: 240px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #1574CE;
  font-family: 'Muli';
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.right {
  margin-left: 8%;
}

main .top-header {
  background-image: url("https://res.cloudinary.com/peterdbrainy/image/upload/v1584190589/top-contact.png");
  background-size: cover;
  width: 100%;
  height: 400px;
}

main .left form {
  margin-top: 51px;
}

main .left form .form-group input {
  margin-bottom: 30px;
}

main .left h4 {
  font-family: 'Muli';
  font-size: 40px;
  line-height: 56px;
  color: #012E87;
  margin-top: 20%;
  font-weight: 600;
  margin-left: -8%;
}

main .left label {
  font-size: 18px;
  line-height: 106%;
  color: #1574CE;
  font-family: 'Muli';
  font-weight: 600;
  margin-left: -8%;
}

main .left input {
  width: 105%;
  margin-left: -8%;
}

main .left textarea {
  width: 105%;
  margin-left: -8%;
}

main .left input::-webkit-input-placeholder {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 21px;
  color: rgba(22, 26, 30, 0.4);
}

main .left input:-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 21px;
  color: rgba(22, 26, 30, 0.4);
}

main .left input::-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 21px;
  color: rgba(22, 26, 30, 0.4);
}

main .left input::placeholder {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 21px;
  color: rgba(22, 26, 30, 0.4);
}

main .left input[type="submit"] {
  background: #1574CE;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 200px;
  height: 45px;
  border: none;
  font-family: 'Muli';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}

main .right {
  margin-right: -40px;
}

main .right img {
  margin-top: 32%;
  width: 90%;
  height: 360px;
}

main .right .address h6 {
  font-family: 'Muli';
  font-size: 24px;
  line-height: 28px;
  color: #012E87;
  font-weight: 600;
  margin-top: 30px;
}

main .right .address p {
  font-family: 'Lato';
  font-size: 18px;
  line-height: 21px;
  color: #161A1E;
  margin-top: 20px;
}

main .newsletter {
  max-width: 1523px;
  height: 621px;
  background: #1E4CA9;
  margin-top: 143px;
}

main .newsletter .cen img {
  margin-top: 106px;
}

main .newsletter h4 {
  font-family: 'Muli';
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 45px;
}

main .newsletter input[type="search"] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 40%;
  height: 60px;
  border: none;
  margin-top: 24px;
}

main .newsletter input[type="search"]::-webkit-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]:-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]::-ms-input-placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter input[type="search"]::placeholder {
  font-family: 'Muli';
  font-size: 18px;
  font-weight: regular;
  font-style: oblique;
  line-height: 21px;
  padding-left: 5%;
  color: rgba(22, 26, 30, 0.4);
}

main .newsletter button[type="submit"] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 140px;
  height: 50px;
  margin-top: 20px;
  border: none;
  font-family: 'Muli';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: #1574CE;
  -webkit-transition: color 2s ease, -webkit-transform 1s ease;
  transition: color 2s ease, -webkit-transform 1s ease;
  transition: color 2s ease, transform 1s ease;
  transition: color 2s ease, transform 1s ease, -webkit-transform 1s ease;
}

main .newsletter button[type="submit"]:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

main footer .foot {
  max-width: 1523px;
  height: 422px;
  background: #012E87;
  padding-top: 82px;
}

main footer .foot .left-column {
  margin-left: 10%;
}

main footer .foot .left-column-2 {
  margin-left: -60px;
}

main footer .foot .left-column-3 {
  margin-left: -100px;
}

main footer .foot p {
  font-family: "work sans" !important;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

main footer .foot a {
  font-family: "work sans" !important;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

main footer .foot .copy {
  max-width: 1523px;
  height: 69px;
  background: #002878;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .foot .copy p[second] {
  margin-left: 10%;
}

@media only screen and (min-width: 770px) and (max-width: 1021px) {
  main .top-header {
    background-image: url("https://res.cloudinary.com/peterdbrainy/image/upload/v1584190589/top-contact.png");
    background-size: cover;
    width: 120%;
  }
}

@media only screen and (max-width: 375px) {
  main {
    width: 100%;
  }
  main .newsletter input[type="search"] {
    width: 80%;
  }
  main footer .foot {
    width: 100%;
    height: auto;
    background: #012E87;
  }
  main footer .foot .left-column-3 {
    margin-top: 50px;
    margin-left: 8%;
  }
  main footer .foot .left-column-2 {
    margin-left: 5%;
  }
  main footer .foot .d-col {
    margin-left: 8%;
    margin-top: 5%;
  }
  main footer .foot .copy p {
    font-size: 16px;
  }
  main .left h4 {
    margin-left: 7%;
  }
  main .left label {
    margin-left: 7%;
  }
  main .left input {
    margin-left: 7%;
    width: 80%;
  }
  main .left textarea {
    margin-left: 7%;
    width: 80%;
  }
  main .left input[type="submit"] {
    width: 150px;
  }
  main .right {
    margin-right: 0;
  }
  main .right img {
    width: 90%;
  }
  #sect img {
    width: 80px;
    height: 80px;
    margin-left: 4%;
  }
  #sect .nav-item .exp {
    margin-left: -4px;
  }
  #sect .right-btn button[type="submit"] {
    width: 160px;
    height: 45px;
    margin-left: -12%;
    font-size: 14px;
  }
}
/*# sourceMappingURL=contact.css.map */