#sect {
    img{
    margin-left: 11%;
   }
   .nav-item{
       .exp{
           color: #373737;
           font-size: 16px;
           font-family: 'Muli';
           font-weight: 590;
       }
       .second {
           margin-left: 30px;
       }
       .third {
           margin-left: 30px;
       }
       .fourth {
           margin-left: 30px;
       }
       .fifth{
           margin-left: 30px;
       }
   }
   .right-btn{
       margin-left: 30px;
       button[type="submit"]{
           width: 240px;
           height: 50px;
           box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
           border-radius: 10px;
           background: #1574CE;
           font-family: 'Muli';
           font-size: 16px;
           font-weight: 600;
           line-height: 21px;
           text-align: center;
           color: #FFFFFF;
           border: none;

       }
   }
}
.right {
    margin-left: 8%;
}
//MAIN STYLES
main {
    .top-fluid {
        div[top-content]{
            position: absolute;
            top: 43%;
            left: 12%;
            h2{
            font-family: 'Muli', sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 56px;
            color: #F3F0ED;   
            animation-name: moveToLeft;
            animation-duration: 2s; 
            }
            p{
            font-size: 18px;
            line-height: 161.8%;
            color: #F3F0ED;
            font-weight: 400;
            animation-name: moveToRight;
            animation-duration: 2s; 
            }
            button[type="submit"]{
            width: 247px;
            height: 50px;
            background: #1574CE;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            border: none;
            font-size: 18px;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            animation-name: animateBtn;
            animation-duration: 1s;
            animation-delay: 1.5s;     
            animation-fill-mode: backwards;         
                  }
        }
        a{            
            font-family: 'Muli';
            font-size: 18px;
            line-height: 21px;
            text-decoration-line: underline;
            color: #FFFFFF;
            margin-left: 46px;
            animation-name: animateBtn;
            animation-duration: 1s;
            animation-delay: 2.3s;     
            animation-fill-mode: backwards;       
        }
    }
    .img-fluid {
        margin-top: -8px;
    }
    .left{
        img:nth-child(1){
            width: 390px;
            height: 479px;
            margin-top: 120px;
        }
        img:nth-child(2){
         margin-top: -43%;
         margin-left: 10px;
        }
        img:nth-child(3){
         margin-top: 102%;
         margin-left: -7px;    
        }
    }
    .right{
        margin-top: 188px;
        h2{
            font-family: 'Lato';
            font-size: 48px;
            line-height: 56px;
            color: #012E87;
            font-weight: 600;

        }
        p{
            font-family: 'Muli', sans-serif;
            font-size: 18px;
            line-height: 29px;            
            color: #161A1E;
        }
        button[type="submit"]{
            width: 274px;
            height: 50px;
            background: #1574CE;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            font-family: 'Muli', sans-serif;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            border: none;
        }
    }
    // The services section
    .services{
        max-width: 1523px;
        height: 1323px;
        background: #FFFBF8;
        margin-top: 113px;
        .services-content{
            h2{
                text-align: center;
                font-family: 'Lato' sans-serif;
                font-size: 48px;
                line-height: 56px;
                text-align: center;
                color: #012E87;
                padding-top: 136px;
            }
            p{
                font-family: 'Muli', sans-serif;
                font-size: 18px;
                line-height: 29px;
                text-align: center;
                color: #161A1E;
                margin-top: 20px;                
            }
            .c-row{
                margin-top: 61px;
            }
            .row{               
                .w-card{
                    .card{
                        width: 330px;
                        height: 377px;
                        margin-bottom: 20px;
                        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
                        border-radius: 15px;
                        
                        img{
                        width: 80px;
                        height: 81px;
                        margin: 30px 20px 10px 120px;
                        }
                        h4{
                        text-align: center;
                        font-family: 'Muli';
                        font-size: 28px;
                        line-height: 106%;    
                        color: #1574CE;
                        font-weight: 600;  
                        margin-top: 2px;      
                        }
                        p{
                        font-family: 'Muli';
                        font-size: 16px;
                        line-height: 163%;
                        text-align: center;
                        color: #161A1E;  
                        margin-top: 5px;     
                        }
                        p[s-card-content]{
                        margin-top: 35px;    
                        }
                    }
                }
            }
        }
        
    }
}

//ANIMATION
@keyframes moveToLeft {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveToRight {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animateBtn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// section{
//     .top-head{
//         background: image(image/top-head); 
//     }
        
// }
//RESOPONSIVE AND MOBILE SCREEN
@media only screen and (max-width: 400px){
#sect {
    img{
        width: 80px;
        height: 80px;
        margin-left: 4%;
    }
    .nav-item{
        .exp{
            margin-left: -4px;
        }
     
    }
    .right-btn{
       
        button[type="submit"]{
            width: 160px;
            height: 45px;
            margin-left: -12%;
            font-size: 14px;
        }
      }  
}
}